<html>
<h1>Narsykline darbo grafiko sistema</h1>
<p>Susikurkite paskyra arba prisijunkite</p>
<a href="/users/register" class="btn btn-primary btn-block mb-2"
  >Registracija</a>
<a href="/users/login"> Prisijungimas</a>
</html>